@charset "UTF-8";

#home{
    display: flex;
    min-height: calc(100vh - 96px); /*ocupar tudo menos o header que tem 96px */
    position: relative;
}

#cta{
    display: flex;
    width: 35%;
    flex-direction: column;
    margin-top: 5%;
    gap: 28px;
}

.title{
    font-size: 4rem;
    color: #1d1d1d;
}

span{
    color: #e9a209;
}

.description{
    font-size: 1.2rem;
}

#cta-buttons{
    display: flex;
    gap: 24px;
}

#cta-buttons > a {
    text-decoration: none;
    color: #1d1d1d;
    
}

#botaoCardapio{
    height: 100%;
    font-size: 0.9rem;
}

#telefoneBotao{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 16px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    border-radius: 12px;
}

#telefoneBotao > button{
    box-shadow: none;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: 1;
}

#banner > img{
    height: 90%;
    width: fit-content; /*A propriedade CSS width: fit-content; define a largura de um elemento para o tamanho mínimo necessário para que o conteúdo dentro dele caiba sem quebrar ou sobrepor. Ou seja, o elemento vai ajustar sua largura de acordo com o conteúdo que está dentro dele, mas sem ultrapassar o tamanho do seu conteúdo.
    Se você tiver um <div> com texto ou imagens dentro dele, o width: fit-content; fará com que a largura da <div> seja exatamente do tamanho do conteúdo que ela contém, sem adicionar espaços extras.
    É muito útil quando você quer que o contêiner se ajuste dinamicamente ao conteúdo interno.*/
}

.shape{
    background-color: #ffe8b4;
    width: 50%;
    height: 100%;
    position: absolute; /*ficar relativo a postion do home, que é relative e pai de shape. se eu tirar o relative do home, shape vai ocupar tudo e passar da div home, mas como a home tem um tamanho que ocupa tudo menos o header, o shape nao vai ocupar o header tb, pois e relativo a home.*/
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    margin-top: 30px;
}

@media screen and (max-width: 1170px) {
    #home{
        min-height: 100%;
        padding-top: 0;
    }

    #banner,#banner > img, .shape{
        display: none;
    }

    #cta{
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #botaoCardapio, #telBotao{
        display: block;
    }
}

@media screen and (max-width: 450px) {
    #telefoneBotao > button{
        display: none;
    }
}