@charset "UTF-8";


main{
    margin-top: 100px;
}
#button-menu{
    display: block;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#pratos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.prato{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0, .1 );
    position: relative;
    overflow: hidden; /*tudo que estiver dentro da div prato e sair pra fora, fica escondido.*/
}

.coração{
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.descriçao-prato{
    color: #434343;
    text-align: center;
}

.avaliaçao > i {
    color: #e9a209;
}

.prato-preço{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px){
    #pratos{
        flex-wrap: wrap;
        justify-content: center;
    }

    .prato{
        width: calc(50% - 12px);
    }

@media screen and (max-width: 700px){
    .prato{
        width: 100%;
    }

    .section-h3{
        text-align: center;
    }
}
}