/* https://www.youtube.com/watch?v=g29xXRHtnIs  link do video*/

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show{
    opacity: 1.5;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
}

#pratos :nth-child(2) {
    transition-delay: 400ms;
}

#pratos :nth-child(3) {
    transition-delay: 700ms;
}

#pratos :nth-child(4) {
    transition-delay: 1000ms;
}

#testmonials{
    margin-top: 150px;
}